/*Color palette:
https://www.scu.edu/umc/visual-identity-elements/scu-color-palette/
Let's go horseys
*/

.App {
  text-align: center;
  background-color: #dfdbd3;
  min-height: 100vh;
}

.App-header {
  height: 100px;
}

.Page-header {
  background-color: #b30738;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
  color: #f4f2f0;
  font-size: calc(10px + 2vmin);
}

.Page-header h1 {
  margin-top: 20px;
}

.Tool-selectors {
  margin-top: 30px;
}

.Tool-selectors div {
  display: inline-block;
  margin-right: 20px;
}

.Chord-selectors {
  margin-top: 10px;
}

.Chord-selectors div {
  display: inline-block;
  margin: 5px 5px;
}

.Selector-text {
  width: fit-content;
  display: inline-block;
  margin: 0px 10px;
}

.bpm-box {
  width: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: #546575 !important;
  border-color: #546575 !important;
  color: #f4f2f0;
  height: 35px;
}

/*!important to override react-bootstrap default styles*/
button {
  background-color: #546575 !important;
  border-color: #546575 !important;
}

.Record-generate {
  margin-top: 50px;
}

.Record-generate > div {
  display: inline-block;
}

.Record-generate i {
  margin-right: 8px;
}

.Visualizer{
  padding: 30px;
  margin: 20px 20px;
}

.Settings-Button {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}

.fa-cog {
  margin-left: auto;
  margin-right: auto !important;
}